
:root {
    --first-color: white;
    --second-color: grey;
    --color-blue: rgb(12, 44, 225);
}
* {
    margin: 0% 0;
    padding: 0px;
    background-color: #272c34;
}
html, body {
    height: 100%;
}
/* @font-face {
    font-family: 'retro-custom';
    src: url('/home/vboxuser/Downloads/prstartk.ttf') format('ttf'),
    url('/home/vboxuser/Desktop/repos/OdinRepos/etch-a-sketch/prstartk.ttf')format('ttf');
} */
@font-face {
    font-family: "Bitstream Vera Serif Bold";
    src: url("https://mdn.github.io/css-examples/web-fonts/VeraSeBd.ttf");
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
  
header {
    /* background-color: cadetblue; */
    color: #f5f7fa;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    font-family: "Bitstream Vera Serif Bold", serif;
    font-size: 50px;
    padding: 10px;
    text-align: center;
    height: fit-content;
    
}
.container {
    flex : 1;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.controls {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    border: none;
    background: #272c34;
    box-shadow: 0 3.2px 7.2px 0 rgba(207, 21, 21, 0.13), 0 0.6px 1.8px 0 rgb(0 0 0 / 11%);


}

.rainbow {
    color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    font-size: larger;
    border: 2px solid #f5f7fa;
    border-radius: 8px;
    background: linear-gradient(to right, rgb(12, 27, 234) 0%, rgb(187, 227, 28) 50%, rgb(225, 6, 6) 100%);
}

.inputSize {
    border: 2px solid black;
    background-color: #fff;
    border-radius: 10px;
    font-size: larger;
    font-weight: 600;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sliderContainer {
    padding: 15px;
    background: #272c34;
    border-radius: 8px;
    border:none;
    margin: 10px;
}


.resetBtn {
    /* 
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid black;
    font-size: large;
    background-color: forestgreen;
    color: aliceblue;
    /* box-shadow: inset; */
    /* cursor:auto; */
    padding-top: 25px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: #fff;
    
}

/* grid section----------------------------------------------- */
.grid {
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 60vh;
    height: 60vh;
    border: 5px solid #1961a9;
    border-radius: 2px;
    background-color: var(--second-color);
}


.gridCell {
    border: 1px solid black;
    width: calc(100% / 16);
    height: calc(100% / 16);
    box-sizing: border-box;
    /* height: auto; */
    /* padding: 10px; */
    border-radius: 2px;
    background-color: var(--first-color);
}

.gridCell.active {
    background-color: var(--color-blue);
}

/* gridSection ends--------------------------------------------- */
footer {
    height: fit-content;
    color: whitesmoke;
    font-size: large;
    text-align: center;
    padding: 10px;
}