
:root {
    --first-color: white;
    --second-color: grey;
    --color-blue: rgb(12, 44, 225);
}
* {
    margin: 0% 0;
    padding: 0px;
    background-color: rgb(146, 97, 32);
}
html, body {
    height: 100%;
}
/* @font-face {
    font-family: 'retro-custom';
    src: url('/home/vboxuser/Downloads/prstartk.ttf') format('ttf'),
    url('/home/vboxuser/Desktop/repos/OdinRepos/etch-a-sketch/prstartk.ttf')format('ttf');
} */
@font-face {
    font-family: "Bitstream Vera Serif Bold";
    src: url("https://mdn.github.io/css-examples/web-fonts/VeraSeBd.ttf");
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
  
header {
    color: rgb(242, 246, 5);
    background-color: cadetblue;
    font-family: "Bitstream Vera Serif Bold", serif;
    font-size: 50px;
    padding: 10px;
    text-align: center;
    height: fit-content;
    
}
.container {
    flex : 1;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.controls {
    padding: 10px;

}
.resetBtn {
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid black;
    font-size: large;
    background-color: forestgreen;
    color: aliceblue;
    /* box-shadow: inset; */
    cursor:auto;
}

.grid {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 60vh;
    height: 60vh;
    border-radius: 10px;

    background-color: var(--second-color);
}


.gridCell {
    border: 1px solid black;
    width: calc(100% / 16);
    height: calc(100% / 16);
    box-sizing: border-box;
    /* height: auto; */
    /* padding: 10px; */
    border-radius: 2px;
    background-color: var(--first-color);
}

.gridCell.active {
    background-color: var(--color-blue);
}

footer {
    height: fit-content;
    color: whitesmoke;
    font-size: large;
    text-align: center;
    padding: 10px;
}